@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next,
.main {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}

@layer base {
  body {
    @apply text-black dark:text-white dark:bg-[#1e1e1e] bg-white font-sans text-base;
  }
}

a {
  @apply text-blue-500;
}

.channel-list {
  li a:before {
    content: '# ';
    opacity: 0.5;
  }

  li a:hover {
    opacity: 0.9;
  }
}

.Messages {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.shake-animation {
  animation: shake 0.5s;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}
